{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="hero">

        <div class="hero-text">
            <h1>
                Learn. <span>Teach.</span><br>
                Exchange.
            </h1>
            <p>
                Welcome to SkillNest Platform
            </h1>
            <a href="{% url 'index' %}" class="btn">
                Browse Skills
            </a>
        </div>

        <div class="hero-img-container">
            <img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f" alt="SkillNest">
        </div>

    </div>
</div>
{% endblock %}